html {
height: 100%;
margin: 0;
padding: 0;
}

@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;

}

@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 700;
src: url("../fonts/ptsans-700.woff2") format("woff2");
font-display: swap;
}

body {
font-family: "PT Sans", sans-serif;
background-color: grey;
font-size: 18px;
font-weight:400;
background-color:#FFFFFF;
color:#333333;
height: 100%;

}

.main-container {
width: 1200px;
margin: 0 auto;
background-color: #FFFFFF
min-height: 100%;
padding: 0px, 70px, 0px, 70px;
display: flex;
flex-direction: column;
}

.main-logo {
padding: 0 70px;
display: block;

}

.header-navigation {
display: flex;
justify-content: space-between;
padding: 0px 0px;
margin: 0;
align-items: flex-start;
flex-grow: 0;
height: 64px;
}

.page-header-second {
list-style: none;
display: flex;
margin-right: 15px;
padding: 0;
margin: inherit;
}

section.list-hotels {
display: flex;
flex-wrap: wrap;
justify-content: space-between;

}



.header-button {
background-color: #A67C52;
color: #FFFFFF;
}


.welcome {
background-color: rgb(17, 154, 218);
background-image: url('../images/index-background1.jpeg');
background-size: cover;
color: #FFFFFF;
background-position: center;
position: relative;

}

.welcome-image{
display: flex;
justify-content: center;
align-items: center;
width: 1200px;
height: 485px;
}

.sedona-index{
width: 458px;
height: 352px;
margin: 0;
display: block;
}

.welcome-mask{
position: absolute;
bottom: 0;
}


.welcome-sedona[
text-transform: uppercase;
]

.welcomes-hotels {
text-align: center;
text-transform: uppercase;
}

.main-hotels {
background-color: rgb(23, 136, 218);
background-image: url('../images/catalog-background.png');
background-size: cover;
background-position: center;''
color: #FFFFFF;
}

.page-header-menu-link{
text-decoration: none;
color:#000
}

.page-header-menu{
font-family: 'PT Sans';
font-style: normal;
text-align: center;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-transform: capitalize;
color: #000000;
width: 93px;
height: 24px;
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
}

.sedona-index {
margin: 20px text-decoration: none;0;

}

.page-header-navigation {
position: relative;
width: 1200px;
height: 64px;
gap: 30px;
display: flex;
}


.page-header-menu-item {
width: 200px;
padding-top: 14px;
text-align: center;
}
.page-header-menu-item-second {
width: 200px;
padding-top: 14px;
text-align: center;
}

.main-content {
padding:0;
background-color: #fff;
}

.main-head {
font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
text-decoration: none;
padding-top: 50px;


}

.main-descript {
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #333333;
padding-bottom: 50px;

}


.real-city,
.diablo-bridge {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-flow: row nowrap;
flex-flow: row nowrap;
-webkit-box-align: stretch;
-ms-flex-align: stretch;
align-items: stretch;
min-height: 384px;
overflow: hidden;
}

.real-city-text,
.diablo-bridge-text {
width: 33.33%;
background-color: #82B3D3;;
color: #fff;
padding: 102px 85px;
-webkit-box-sizing: border-box;
box-sizing: border-box;

}

.real-city-img,
.diablo-bridge-img {
width: 66.66%;
position: relative;
}

.diablo-bridge-img {
-webkit-box-ordinal-group: 0;
-ms-flex-order: -1;
order: -1;
}

.real-city-img img,
.diablo-bridge-img img {
width: 100%;
display: block;
position: absolute;
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
left: 0;
right: 0;
}

.real-city-text-head,
.diablo-bridge-text-head {
margin: 0 0 25px;
font-size: 21px;
line-height: 21px;
text-align: center;
font-weight: 700;
}

.real-city-text-descript,
.diablo-bridge-text-descript {
margin: 0 0 20px;
line-height: 21px;
text-align: center;
position: relative;
}

.attractions-first {
min-height: 330px;
}

.o12{
background-color: rgb(241,246,250);
}

.o20{
background-color: rgb(232,240,245);
}

.attractions-second {
min-width: 1200px;
position: relative;
z-index: 51;
}

.attractions-list {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-flow: row nowrap;
flex-flow: row nowrap;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
margin: 0;
padding: 0;
list-style: none;
}


.big-text {
font-size: 21px;
line-height: 21px;
font-weight: 700;
text-align: center;
margin: 0 0 21px;
color: #000;
}

.little-text {
margin: 0;
text-align: center;
line-height: 21px;

}

.text-block-descript {
margin: 0 0 20px;
text-align: center;
}


.hotels-good{
display: flex;
}

.hotels-good-cool-item {
width: 33.33%;
/* padding: 95px 4% 10px; */
height: 385px;
}


.hotels-good-cool-item {
/* margin: 100px 0 24px; */
}

.hotels-good-cool-item {
/* padding: 60px 4% 10px; */
position: relative;
}

.hotels-good-cool-item {
background-color: #fff;
}

.hotels-good-cool-item::after {
content: '';
position: absolute;
display: block;
width: 100%;
height: 80px;
background-repeat: no-repeat;
background-position: center top;
top: 30px;
left: 50px;
transform: translateX(-12%)
}

.hotels-good-cool-item:nth-child(1)::after {
background-image: url(../images/house.png);
background-repeat: no-repeat;
background-position: center;

}

.hotels-good-cool-item:nth-child(2)::after {
background-image: url(../images/food.png);


}

.hotels-good-cool-item:nth-child(3)::after {
background-image: url(../images/gift.png);

}

.button-vkontakte {
  background-image: url(../images/vk-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer li{
  display: inline-block;
  margin: 10px;
}
footer{
  display: flex;
  justify-content: space-evenly;
}

.hotels-good-item {
width: 400px;
height: 385px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

.hotels-good-item:nth-child(even){
background-color: rgb(232,240,245)
}

.hotels-good-item:nth-child(odd){
background-color: rgb(241,246,250)
}

.hotels-good-cool{
display: flex;
}

.hotels-good-cool-item {
width: 400px;
height: 385px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}


.hotels-good-cool-item:nth-child(odd){
background-color: rgb(232,240,245)
}

.sting{
border-bottom: 1px solid black;
width: 50px;
}

.big-text {
margin: 0 0 25px;
font-size: 21px;
line-height: 21px;
text-align: center;
font-weight: 700;
}


.search-hotels {
text-align: center;
padding: 50px;
}

.newsletter {
background-image: url(../images/subscribe.png);
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
width: 1200px;
height: 414.86px;
text-transform: uppercase;
color: #FFFFFF;

/* Inside auto layout */

flex: none;
order: 5;
flex-grow: 0;
background-color: #756157;
text-align: center;
}


.welcome-friends {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
padding: 50px;

}

.friends-text{
/* width: 505px;
height: 72px; */

/* Headings/Heading 2 */

font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #000000;
}

.very-friends-text{
/* width: 592px;
height: 52px; */
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #333333;
}

.offer-title {
font-size: 30px;
line-height: 36px;
margin: 0 auto 25px;
width: 30%;
}

.offer p {
line-height: 24px;
width: 490px;
margin: 0 auto 46px;

}

.offer-btn {
font-weight: bold;
color: #fff;
font-size: 21px;
line-height: 26px;
background-color: #766357;
display: inline-block;
vertical-align: middle;
margin: 0 auto;
padding: 30px 0;
width: 568px;
cursor: pointer;

}

.offer-btn:hover, .offer-btn:focus {
background-color: #604e43;
}

.offer-btn:active {
background-color: #503e33;
color: rgba(255, 255, 255, 0.3);

}


.booking-reservation-blue:hover, .booking-reservation:focus {
color: #fff;
background-color: #604e43;

}

.booking-reservation-blue:active {
color: rgba(255, 255, 255, 0.3);
background-color: #503e33;
}

.hotel-item-text {
margin: 0 0 7px;
width: 116px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
padding-right: 6px;
}

.hotel-item-btn {
margin-right: 6px;
}

.hotel-item-btn, .booking-reservation-blue {
-ms-flex-item-align: start;
align-self: flex-start;
padding: 3px 17px;
font-weight: bold;
color: #fff;
font-size: 14px;
line-height: 21px;
background-color: #82B3D3;
border-radius: 4px;
text-decoration: none;
}

.booking-reservation-green {
-ms-flex-item-align: start;
align-self: flex-start;
padding: 3px 17px;
font-weight: bold;
color: #fff;
font-size: 14px;
line-height: 21px;
background-color: #7DB54F;
border-radius: 4px;
text-decoration: none;
}

form{
  margin-bottom: 20px;
}


.item-list-hotels-clearfix{
  border: 1px solid darkgray;
  width: 392px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.content-list-hotels{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.content-list-hotels img{
  width: 300px;
  height: 212px;
  margin: 20px;
}



.header-button-want {
  line-height: 20px;
  align-self: flex-start;
  padding: 8px 50px;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
}


.button-find-hotels {

font-weight: 700;
color: #fff;
font-size: 20px;
font-style: normal;
/* font-family: 'PT Sans'; */
font-family: "PT Sans";
line-height: 36px;
text-decoration: none;
display: flex;
text-transform: uppercase;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 50px;
gap: 10px;


width: 376px;
height: 52px;
border-radius: 4px;
background-color: #756157;
padding: 8px 17px;
}

.find-hotels{

width: 338px;
height: 36px;

/* Headings/Heading 2 */

font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
/* identical to box height, or 120% */

text-transform: uppercase;

/* Texts/Texts/basic */

color: #000000;
flex: none;
order: 0;
flex-grow: 0;
}

.contacts-phone{
font-style: normal;
position: center;
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 39px;
line-height: 40px;
text-transform: uppercase;
text-decoration: underline;
color: #000000;
}

.contacts-phone-hotel {
  font-style: normal;
  position: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #000000;
  }


.footer-social-item {
color:#333333;

}


li.footer-social-item {
display: inline;
}

li{
display: list-item;
}


.footer-contacts {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
width: 33.333333%;
}

.name-hotel{
font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #000000;
}

.booking-keys{
  margin: 20px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.booking-title{ width: 300px; }

.booking-hotel{
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.booking-details {
font-family: 'PT Sans';
font-style: normal;
text-align: center;
text-transform: uppercase;
padding: 3px 25px;
font-weight: bold;
color: #fff;
font-size: 16px;
line-height: 20px;
background-color: #756157;
border-radius: 4px;
text-decoration: none;
}



.pagination-container {
  margin: 60px auto;
  text-align: center;
  font-size: 0;
}

.pagination-btn {
  display: inline-block;
  background-color: #82B3D3;
  color: #FFF;
  padding: 8px 16px;
  margin: 0 4px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
