html {
  height: 100%;
  margin: 0;
  padding: 0;
}

p{
  margin:0;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}


body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.button {
  min-height: 36px;
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

/* header */

.page-header {
  color: #000000;
}

.main-navigation {
  display: flex;
  margin: 0 auto;
  min-width: 64px;
}

.page-header-logo {
  display: block;
  width: 140px;
  margin-left: 70px;
  margin-right: 28px;
  margin-bottom: -6px;
  position: relative;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 339px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.navigation-item-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  padding: 20px 16px;
  display: block;
}

.navigation-usering {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 70px;
  list-style-type: none;
  align-items: center;
}

.navigation-usering-link {
  display: block;
  width: 44px;
  height: 64px;
}

.button-navigation {
  display: block;
  box-sizing: border-box;
  min-width: 160px;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  margin-left: 20px;
}

/* index - hero */

.hero {
  background-color: #83B3D333;
  background-image: url("../images/index-background-1.jpeg");
  background-size: 100% auto;
  height: 485px;
  background-repeat: no-repeat;
}

.welcome-logo {
  display: block;
  margin: auto;
  padding-top: 51px;
}

/* index - title, text */

.title,
.advantages-title,
.service-title,
.text,
.advantages-description,
.service-description {
  text-align: center;
  margin: 0;
  padding: 0;
}

.title,
.advantages-title,
.service-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.title {
  font-size: 30px;
  line-height: 36px;
}

.advantages-title,
.service-title {
  font-size: 24px;
  line-height: 28px;
}

.text {
  font-size: 22px;
  line-height: 26px;
}

.white-text {
  color: #FFFFFF;
}

/* index - advantages */

.advantages-main-tittle {
  width: 620px;
  margin: auto;
  padding-top: 69px;
  padding-bottom: 25px;
}

.advantages-main-text {
  width: 651px;
  margin: auto;
  padding-bottom: 69px;
}

.blue-light-color {
  background-color: rgba(131, 179, 211, 0.12);
}

.gray-light-color {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  width: 400px;
  min-height: 400px;
}

.advantages-wrapper {
  margin: auto;
  width: 230px;
}

.advantages-title {
  margin: auto;
  width: 175px;
  margin-bottom: 62px;
}

.real-town,
.evil-bridge {
  display: block;
  width: 800px;
  height: 384px;
}

.advantages-item-real-town,
.advantages-item-devil-bridge {
  width: 1200px;
  display: flex;
  background-color: #82B3D3;
}



.search-tittle {
  width: 297px;
  margin: auto;
  padding-top: 96px;
  padding-bottom: 20px;
}

.search-text {
  width: 592px;
  margin: auto;
  padding-bottom: 54px;
}

.button-search {
  box-sizing: border-box;
  display: block;
  min-height: 52px;
  width: 376px;
  font-size: 20px;
  line-height: 36px;
  margin: auto;
  margin-bottom: 96px;
  padding-top: 8px;
}

/* index - subscribe */

.subscribe-index {
  background-color: #82B3D3;
  background-image: url("../images/subscribe.jpeg");
  background-size: 100% auto;
  height: 415px;
  background-repeat: no-repeat;
}

.subscribe-title {
  width: 404px;
  margin: auto;
  padding-top: 96px;
  padding-bottom: 20px;
}

.subscribe-text {
  width: 475px;
  margin: auto;
  padding-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  margin-bottom: 104px;
}

.subscribe-field {
  min-width: 452px;
  min-height: 52px;
  border-radius: 4px;
  border: 0;
  background-color: #F2F2F2;
}

.subscribe-button {
  min-width: 232px;
  min-height: 52px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.footer-container {
  display: flex;
  margin: 45px 70px 35px;
  padding: 0;
}

.footer-list-social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-height: 40px;
}

.footer-item-social {
  min-width: 47px;
}

.footer-contacts {
  margin: 0 auto;
}

.contacts-phone {
  text-decoration: none;
  font-style: normal;
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.footer-html-academy {
  width: 115px;
}

.filter {
  background-color: #98d4f9;
  background-image: url("../images/background-catalog.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #FFFFFF;
  display: flex;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.catalog-title-filter {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding-bottom: 32px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  padding-bottom: 16px;
}

.filter-container {
  padding: 0;
  margin: 35px 70px 70px;
  width: 1060px;
}

.catalog-filter {
  display: flex;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
  display: flex;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.catalog-filter-group-infrastructure {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 150px;
  margin-right: 70px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-group-type {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 150px;
  margin-right: auto;
}

.catalog-price-filter {
  margin: 0;
  padding: 0;
  /* width: 100px; */
  margin-left: auto;
  /* display: flex; */
    /* margin-left: auto; */
    /* flex-direction: column; */
}
.catalog-price-input{
  display: flex;
  margin: 0;
}

.service-main-tittle {
  width: 505px;
  margin: auto;
  padding-top: 64px;
  padding-bottom: 20px;
}

.service-main-text {
  width: 490px;
  margin: auto;
  padding-bottom: 64px;
}

.service-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.service-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 400px;
  margin: 0;
  padding: 0;
}

.service-title {
  margin: auto;
  width: 230px;
  margin-bottom: 30px;
}

.service-description {
  margin: auto;
  margin-top: 0;
  width: 230px;
}

.control-input-min,ч
.control-input-max {
  min-width: 143px;
  min-height: 48px;
  border-radius: 4px;
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-right: 1px;
}

.control-input{
  width: 100%;
}

.filter-button-wrapper {
  margin: 0;
  padding: 0;
  width: 191px;
  margin-left: 70px;
  padding-top: 56px;
}

.button-filter {
  background-color: #82B3D3;
  min-width: 191px;
}

.button-filter-reset {
  background-color: transparent;
  padding-top: 40px;
  padding-bottom: 8px;
}

/* catalog - сортируем отели */

.sorting-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1060px;
  height: 49px;
  padding-top: 50px;
  padding-bottom: 60px;
  justify-content: space-between;
}

.select-control {
  min-width: 292px;
  height: 49px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.view-pagination-list {
  display: flex;
  width: 160px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.view-buttons {
  border: chocolate solid 1px;
  width: 48px;
  height: 48px;
}

/* catalog - или карточки отелей! */

.hotel-card {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
}

.hotel-card-item {
  width: 340px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000
}

.hotel-card-rate {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-catalog-more,
.button-catalog-to-favorites,
.button-catalog-in-favorites {
  min-width: 140px;
  font-family: 'PT Sans';
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 3px 25px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
  }


.button-catalog-to-favorites {
  background-color: #82B3D3;
}

.button-catalog-in-favorites {
  background-color: #7DB54F;
}

/* pagination или КНОПКИ */

.paginations-wrapper {
  width: 1060px;
  padding: 0;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.paginations {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  background-color: #82B3D3;
  color: #FFFFFF;
  min-height: 60px;
  min-width: 60px;
  text-align: center;
  margin-right: 8px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding-top: 12px;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-hidden {
  color: #000000;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.hotels-good-cool{
  display: flex;
  }

  .hotels-good-cool-item:nth-child(odd){
    background-color: rgb(232,240,245)
    }

.big-text {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 21px;
  color: #000;
  }

  .little-text {
  margin: 0;
  text-align: center;
  line-height: 21px;

  }

  .text-block-description {
  margin: 0 0 20px;
  text-align: center;
  }


  .hotels-good{
  display: flex;
  }

  .hotels-good-cool-item {
  width: 33.33%;
  height: 385px;
  position: relative;
  }

  .hotels-good-cool-item {
  background-color: #fff;
  }

  .hotels-good-cool-item {
    width: 400px;
    height: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    }


  .hotels-good-cool-item::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center top;
  top: 30px;
  left: 50px;
  transform: translateX(-12%)
  }

  .hotels-good-cool-item:nth-child(1)::after {
  background-image: url(../images/house.svg);
  background-repeat: no-repeat;
  background-position: center;

  }

  .hotels-good-cool-item:nth-child(2)::after {
  background-image: url(../images/food.svg);


  }

  .hotels-good-cool-item:nth-child(3)::after {
  background-image: url(../images/gifts.svg);

  }


.welcome-friends {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;

  }


.friends-text{
  /* width: 505px;
  height: 72px; */

  /* Headings/Heading 2 */

  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  }

  .very-friends-text{
  /* width: 592px;
  height: 52px; */
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  }



.footer-social-item{
width: 56px;
height: 44px;
margin-right: 8px;
margin-bottom: 8px;;
  }



.star-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../images/penta.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.star-icon:nth-of-type(1) {
  background-position: 0 0;
}
