body{
  padding: 0;
  margin: 0;
  background: #f2f2f2;
  text-transform: uppercase;
  }
h1{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-align: center;
  text-transform: uppercase;}
h2{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-align: center;
  text-transform: uppercase;}
p{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 0.875em;
  font-weight: regular;
  line-height: 0.875em;
  color: #333333;
  text-align: center;
  text-transform: uppercase;}

span{

  text-transform: uppercase;}


